@import "colors";

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0%;
    background-color: $first;
    z-index: 10;

 > h1{  
  text-transform: uppercase;
}
> main{
    width: 65%;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;

    > a{
        color: $dark;
        margin: 1rem;
         
        &:hover{
            color: $third;
        }
    }

}

}